.background {
  color: white;
  background-image: url('bkground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  width: 40%;
}

.btn {
  position: relative;
  width: 12%;
}

.but {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 88%;
}

.signup {
  color: black;
}

.card {
  margin: 5em auto 5em !important;
  max-width: 900px !important;
}

.title {
  padding: 2em 2em 0 2em;
  font-size: 60px !important;
}

.blurb {
  margin: 0 5em 5em 5em;
  font-size: 24px;
  color: #666870;
}

.blurb a {
  color: #ffffff !important;
}

.signbtn {
  background: linear-gradient(#66c664, #488948) !important;
  border: 1px solid #488948 !important;
  margin: 1px;
  width: 100%;
}

.disclaimer {
  margin-top: 4px;
  font-size: 11px;
}